.JobCard{
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ffc300;
  margin:1rem;
  width:50rem;
  height:8rem;
  padding: 3rem;



}
.JobCard-ul{
  display:flex;
  flex-direction: column;
}

.JobCard-btn button{
  border:none;
  background-color: #ffc300;
  font-weight: bold;
}


.JobCard-btn button :hover{
   background-color: black;
   color:#ffc300;
  font-weight: bolder;

}