nav{
  display:flex;

}
.Pagination-ul{
  display:flex;
  align-items: center;
margin:1rem;
  list-style: none;



}
.page-link{
  margin:1rem;

}
.page-item a{
  color:#ffc300;
}
.page-item a:hover{

background-color: #ffc300;
color:white;
padding:2px;
 
}

.page-item a:active{
  background-color: #ffc300;
  color:white;
  padding:2px;
}
.hide{
  display:none;
}